<!doctype html>
<html lang="en">
<head>
{% include 'questions/header.html' %}       
    <script>
        let table;
        $(document).ready( function () {
            table = $('#marksheet').DataTable({
                order: [[ 1, "desc" ]],
                paging: false,
                autoWidth: true,
                columnDefs: [
                    { width: '50%', targets: 0 }
                ],
            });
        });            
    </script>
    <style>
        input.mark, .lock {
            width: 300px;
            font-size: xx-large;
        }
    </style>
</head>
<body>
	<header>
        <a href="../../index.html">Back to the question list</a>        
        <h1>Grading form for {{studentsScriptFileName}} - {{question}}</h1>
	</header>	
	<section> 
        <div id="dialog" title="Large Image">
            <img id="largeImage" src="" style="vertical-align: top; padding: 0px 10px 10px 2px; width: 100%, height: 100%" />
        </div>

        <form id="controlForm" action="" method="get" class="form">
            <div class="form">
                <label for="zoom">Image Zoom:</label>
                <input type="range" id="zoom" name="zoom" min="0.1" max="2" value="1" step="0.1" />  
                (<span id="currentZoom">1</span>)   
            </div>
            <div class="form">
                <label for="left">Left:</label>
                <input type="number" id="left" name="left" min="0" step="10" class="changeBoundBox" value="{{estimatedBoundingBox["left"]}}" />                   
            </div>
            <div class="form">
                <label for="top">Top:</label>
                <input type="number" id="top" name="top" min="0" step="10" class="changeBoundBox" value="{{estimatedBoundingBox["top"]}}" />                                  
            </div>
            <div class="form">
                <label for="height">Height:</label>
                <input type="number" id="height" name="height" min="0" step="10" class="changeBoundBox" value="{{estimatedBoundingBox["height"]}}" />                           
            </div>
                <div class="form">
                <label for="width">Width:</label>
                <input type="number" id="width" name="width" min="0" step="10" class="changeBoundBox" value="{{estimatedBoundingBox["width"]}}" />                               
            </div>
        </form>
        <div>
            Show/Hide column:
            <a class="toggle-vis" data-column="0" href="#">Image</a> -
            <a class="toggle-vis" data-column="1" href="#">Answer</a> - 
            <a class="toggle-vis" data-column="4" href="#">Confidence Score</a>        
        </div>
        <div>
            <p>If your type in the mark, it will be locked. To unlock, click on the mark below the mark input.</p>
        </div>
        <form id="markForm" action="" method="get" class="form">
            <table id="marksheet" class="display" style="width:100%">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Answer</th> 
                    <th>Confidence Score</th>
                  </tr>
                </thead>
                <tbody>
{% for index, row in dataTable.iterrows() -%}
                  <tr>          
                    <td> 
                        <div id="crop-{{row["page"]}}-container" >
                            <img src="../../{{row["Image"]}}" 
                                 id="crop-{{row["page"]}}" 
                                 class="answerImage crop-{{row["page"]}}"
                                 alt="{{row["Answer"]}}" 
                                 data-left="{{row["left"]}}"
                                 data-top="{{row["top"]}}"
                                 data-width="{{row["width"]}}"
                                 data-height="{{row["height"]}}"
                            />
                        </div>   
                    </td>
                    <td>
                        <input type="text" id="mark-{{row["page"]}}"
                               class="mark" 
                               data-similarity="{{row["Similarity"]}}"
                               data-confidence="{{row["Confidence"]}}"
                               value="{{row["Answer"]}}"
                               required /> 
                        <span id="mark-{{row["page"]}}-locked" class="lock"></span>
                    </td>
                    <td>{{'%0.2f'| format(row["Confidence"]|float)}}</td>
                  </tr>      
{% endfor %} 
                </tbody>
            </table>
        </form>
	</section>
	<footer>
		<p>Created by Higher Diploma in Cloud and Data Centre Administration Developement Team. </p>
	</footer>
</body>
</html>