aiohttp
aiosignal
annotated-types
asttokens
attrs
backcall
blinker
cachetools
certifi
charset-normalizer
click
cmake
cobble
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
docstring_parser
easyocr
et-xmlfile
executing
filelock
Flask
fonttools
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
huggingface-hub
idna
imageio
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jupyter-bbox-widget
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-vertexai
langchain-text-splitters
langsmith
lazy_loader
lit
mammoth
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
ninja
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
opencv-python
opencv-python-headless
openpyxl
orjson
packaging
pandas
parso
pdf2image
pexpect
pickleshare
Pillow==9.5.0
pip
platformdirs
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1_modules
pyclipper
pydantic
pydantic_core
Pygments
pyparsing
PyPDF4
python-bidi
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
regex
requests
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
setuptools
shapely
six
smmap
SQLAlchemy
stack-data
sympy
tenacity
termcolor
threadpoolctl
tifffile
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
types-protobuf
types-requests
typing_extensions
typing-inspect
tzdata
urllib3
wcwidth
Werkzeug
wheel
widgetsnbextension
yarl
